# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Local .env files
.env*.local

# Firebase
.firebase/
firebase-debug.log
database-debug.log
storage-debug.log
firestore-debug.log

# TypeScript
*.tsbuildinfo
next-env.d.ts
